/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: #F2F1F1;
}

a {
  text-decoration: none;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  * {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  * {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  * {
    width: 500px;
  }
}

.banner{
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/* Custom design below! */

.container{
width: 900px;
margin: auto;
}

div {
  display: block;
}

h1{
  color: white;
}

p{
  color: white;
  opacity: .7;
  font-size: 25px;
}

.btn{
  display: inline-block;
  background-color: rgb(28, 221, 135);
  padding: 16px 36px;
  color: white;
  border-color: rgb(28, 221, 135);
  fill: rgba(41, 41, 41, 1);
  padding: 7px 20px 9px;
  font-size: 16px;
  line-height: 24px;
  border-style: solid;
  border-width: 1px;
  border-radius: 99em;
  font-weight: 400;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.btn:hover{
  transition: all .3s ease;
  background-color: #014652;
  border-color: #014652;
}

.center{
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card{
  width: 200px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img{
  height: 100px;
}

.card p{
color: black;
opacity: .5;
}

.footer{
  text-align: center;
  padding: 20px;
  background-color:rgb(39, 40, 40);
}

.footer a{
  font-size: 30px;
  color: #1CDD87;
}

.list-in-line{
  list-style: none;
  padding-left: 0px;
}

.list-in-line li {
  display: inline;
  padding: 10px;
}

ul{
    display: inline-block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
  display: list-item;
}

a{
  text-decoration: none;
}
